body {
    background-color: rgb(58, 45, 70);
    text-align: center;
    margin: 0px;
    background-image: url('../../images/background2.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
}

canvas {
    border: 5px;
    border-color: azure;
}

.navbar {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding: 30px;
    margin-top: 5%;
    text-align: center;
}

.navitem {
    padding: 2%;
    color: #ffffff; 
    font-size: 25px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.navitem:hover{
    color: #ff0000;
    transition: 0.8s ease;
}

.logo {
    width: auto;
    height: 4.5rem;
    margin-top: 2%;
    transition: height 0.5s ease;
}